<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose an Option</title>
</head>
<body>
<form action="/choice-selected" method="post">
    <fieldset>
        <legend>Choose an option<span aria-label="required">*</span></legend>
        <label>
            <input type="radio" required name="choice" value="tagChoice"> 1.Get a random cat with a tag.
        </label><br>
        <label>
            <input type="radio" required name="choice" value="textChoice"> 2.Get a random cat with a text.
        </label><br>
        <label>
            <input type="radio" required name="choice" value="widthHeightChoice"> 3.Get a random cat with width or height.
        </label><br><br>
        <button type="submit">Submit</button>
    </fieldset>

</form>
<br>
<form action="/generateReport" method="get">
    <button type="submit">Generate Report</button>
</form>
</body>
</html>
