<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Result</title>
</head>
<body>
<form action="/handle-width-height-inserted" method="post" >
  <h1>Please write height and width</h1>
  <label>Height:
    <input type="text" name="height">
  </label><br>
  <label>Width:
    <input type="text" name="width">
  </label><br>
  <br>
  <label>File Name:
    <input type="text" name="fileName">
  </label><br>
  <button type="submit">Submit</button>
</form>
</body>
</html>
