<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<form action="/handle-width-height-inserted" method="post">
    <fieldset>
        <legend>Please enter width or height</legend>
        <table>
            <tr>
                <td>
                    Width:
                </td>
                <td><input type="text" name="width" th:type="number">
                </td>
            <tr>
                <td>Height:</td>
                <td><input type="text" name="height" th:type="number">
                </td>
            </tr>
            <tr>
                <td>File Name:</td>
              <td><input type="text" name="fileName" required>
              </td>
            </tr>
            <tr>
                <td></td><td>
                <button type="submit">Submit</button>
                </td></tr>
        </table>
    </fieldset>
</form>
</body>
</html>
