<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<form action="/text" method="post">
    <fieldset>
        <legend>Please enter a text</legend>
        <table>
            <tr>
                <td>Text:</td>
                <td><input type="text" name="text" required><span aria-label="required">*</span>
                </td>
            </tr>
            <tr>
                <td>File Name:</td>
                <td><input type="text" name="fileName" required><span aria-label="required">*</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>
